.venv
.pytest_cache
__pycache__
.vscode
.coverage
.env
tools/jdk-17.0.14+7-jre/
tools/jdk.zip
tools/gh/gh.zip
tools/gh/LICENSE
tools/gh/bin/gh.exe

# Node.js
node_modules/
dist/
dist-electron/
release/

# Vite
*.local

# IDE
.idea/
*.swp
*.swo
